* {
  font-family: 'Alegreya', serif;
}

header,
h1,
h2 {
  margin: .3em 0em;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2B4E80;
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  height: 50%;
}

.column-one,
.woody-img-section {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 25em;
  padding: 2em;
}

.woody-img-section {
  height: 29em;
  padding: 0em;
}

.column-one {
  justify-content: space-between;
  flex-direction: column;
  background-color: #E6ECF4;
}

.input-area {
  align-items: center;
  width: 100%;
}

.question-input,
.submit-button {
  height: 3em;
  text-align: center;
  font-size: .8em;
}

.question-input {
  width: 99%;
  color: #2B4E80;
}

.user-question,
.user-answer {
  font-size: 2em;
  margin: .5em;
  text-align: center;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  width: 100%;
  background-color: #2B4E80;
  color: white;
}

.submit-button:disabled {
  background-color: #607AA0;
}

.submit-button:disabled:hover {
  background-color: #607AA0;
}

.submit-button:hover {
  background-color: #1C3455;
}

.clear-button:disabled,
.save-favorite-button:disabled {
  background-color: #D0CDCD;
}

.clear-button {
  background-color: #DE4841;
  width: 15%;
  height: 2.5em;
  font-size: .8em;
}

.clear-save-button-section {
  display: flex;
  justify-content: space-between;
}

.save-favorite-button {
  background-color: #bef3c3;
  width: 25%;
  height: 2.5em;
  font-size: .8em;
}

.eight-ball-section {
  display: flex;
  justify-content: center;
}

.save-result-section {
  margin: auto;
  width: 40%;
  height: 15.3em;
  overflow-y: auto;
  background-color: #607AA0;
  border-radius: 1em;
}

.save-question,
.save-answer {
  margin: .2em;
  font-size: 1.3em;
}

.save-question {
  font-weight: bold;
}

.save-answer {
  font-style: italic;
}

.delete-save-button {
  width: 10em;
  height: 2em;
  margin: 1em 0em;
  text-transform: capitalize;
  font-size: .7em;
  background-color: #2B4E80;
  color: white;
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-thumb {
  background: #2B4E80;
}

.save-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  border: 2px solid black;
  border-radius: 2em;
  background-color: #E6ECF4;
}

.woody-img {
  width: 70%;
  height: 100%;
}

.eight-ball-img {
  width: 50%;
  height: 50%;
}

.hide {
  display: none;
}

/* COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD */
